################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Akka.WebApi/.vs
/Akka.WebApi/bin/Debug/net8.0
/Akka.WebApi/obj
